
<nav>
  <link rel="stylesheet" href="/style.css">
    <div class="site-title">
      <img width="121" height="98" src="/assets/Supercell.png" alt="Supercell logo">
      <!-- <a href="/"><h1>Blog Ninja</h1></a> -->
      <!-- <p>A Net Ninja Site</p> -->
      <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </div>
</nav>
  